@font-face {
    font-family: 'MiCaligrafia';
    src: url("/FUENTEs/helvetica-neue-55-cufonfonts/HelveticaNeue-Light.otf");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: MiCaligrafia, 'HelveticaNeueBold';
    font-size: 20px;
    color: white;
}

body {
    background-color: rgb(255, 219, 244);
    overflow-x: hidden;
}

/* BARRA DE NAVEGACIÓN */
.header {
    background-color: #003333ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo {
    cursor: pointer;
}

.header .logo img {
    height: 85px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}

header .nav-links {
    list-style: none;
}

header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

header .nav-links a {
    color: white;
    text-decoration: none;
}

.header .nav-links li a:hover {
    color: #9c9286ff;
}

.header .btn button {
    font: 700;
    color: rgb(255, 255, 255);
    padding: 9px 25px;
    background: #9c9286ff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover {
    background-color: wheat;
    color: rgb(138, 138, 110);
}

/* FORMULARIO */
.image-container-1 {
    position: relative;
    text-align: center;
}

.background-image {
    width: 100%;
    height: auto;
}

.formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(64, 64, 55, 0.734);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 500px;
}

form {
    padding: 10px;
    text-align: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2 {
    color: #9c9286ff;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #EDFFF0;
    border: 2px solid rgb(255, 255, 255);
    color: black;
    outline: none;
}

input::placeholder, textarea::placeholder {
    color: gray;
}

.form-txt {
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.form-txt a {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.btn1 {
    font: 700;
    color: rgb(255, 255, 255);
    padding: 9px 25px;
    background: #9c9286ff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btn1:hover {
    background-color: rgb(150, 75, 75);
}

@media(max-width:991px) {
    body {
        padding: 30px;
    }

    form {
        padding: 50px 30px;
        width: 100%;
    }

    input {
        padding: 15px;
    }
}

/* Pie de página */
footer {
    background: #003333ff;
    padding-top: 5px;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content {
    flex-basis: 33%;
    text-align: center;
}

.h3f {
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
}

.footer-content p {
    font-size: 16px;
    margin: 5px 0;
    color: white;
}

.listFooter1 {
    padding: 0;
    list-style-type: none;
}

.listFooter1 li {
    margin: 5px 0;
}

.listFooter1 li a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.listFooter1 li a:hover {
    color: #9c9286ff;
}

.social-icons {
    text-align: center;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    padding: 5px;
}

.social-icons i {
    color: aliceblue;
    font-size: 20px;
}

.social-icons i:hover {
    color: #9c9286ff;
}

.bottom-bar2 {
    background: #254c57ff;
    text-align: center;
    padding: 10px 0;
}

.bottom-bar2 p {
    color: white;
    margin: 0;
    font-size: 15px;
}
