@font-face {
    font-family: 'MiCaligrafia';
    src: url("/FUENTEs/helvetica-neue-55-cufonfonts/HelveticaNeue-Light.otf");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: MiCaligrafia, 'HelveticaNeueBold';
    font-size: 20px;
    color: white;
}

body {
    background-image: url("../IMAGENES/Designer (13).jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    overflow-x: hidden;
   

}

/*BARRA DE NAVEGACIÓN*/
/*INICIO*/
.header {
    background-color: #003333ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo {
    cursor: pointer;
}

.header .logo img{
    height: 85px;
    width: auto;
    transition: all 0.3s;
}

/*para dar efecto*/
.header .logo img:hover{
    transform: scale(1.2); 
}

/* Estilos para el menú de navegación */
.navbar-toggler {
    border: none; /* Sin borde */
    background: none; /* Sin fondo */
    color: white; /* Color del ícono */
    font-size: 24px; /* Tamaño del ícono */
    cursor: pointer;
}

.navbar-toggler-icon {
    color: wheat;
}

.nav-links{
    list-style: none;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links a {
    font-weight: 700;
    color: white;
    text-decoration: none;
}

.nav-links li:hover {
    transform: scale(1.1);
}


.header .nav-links li a:hover{
    color:#9c9286ff;
}

.header .btn button{
    font: 700;
    color: rgb(255, 255, 255);
    padding: 9px 25px;
    background: #9c9286ff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: wheat;
    color: rgb(138, 138, 110);
    transform: scale(1.1);
}
/*FIN*/


/* FORMULARIO */
.image-container-1 {
    position: relative;
    text-align: center; /* Centra el contenido dentro del contenedor */
}

.background-image {
    width: 100%;
    height: auto;
}

.formulario {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro y transparente */
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    max-width: 500px; /* Ancho máximo del formulario */
    margin: 50px auto; /* Margen superior y centrado */
    color: white; /* Color del texto */
}

form {
    padding: 10px;
    text-align: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2 {
    color: #9c9286ff;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #EDFFF0;
    border: 2px solid rgb(255, 255, 255);
    color: black;
    outline: none;
}

input::placeholder, textarea::placeholder {
    color: gray;
}

.form-txt {
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.form-txt a {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.btn1 {
    font: 700;
    color: rgb(255, 255, 255);
    padding: 9px 25px;
    background: #9c9286ff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btn1:hover {
    background-color: rgb(150, 75, 75);
}

@media (max-width: 768px) {

    /* Ajustes para el header */
    
    .header {
        flex-direction: column; /* Cambia la dirección del flex en pantallas pequeñas */
        height: auto; /* Ajusta la altura */
        padding: 10px; /* Cambia el padding */
    }

    .header .nav-links {
        display: flex;
        flex-direction: column; /* Muestra los enlaces en columna */
        align-items: center; /* Centra los enlaces */
    }

    /**/
    .formulario {
        width: 95%; /* Hacemos que el formulario ocupe casi todo el ancho de la pantalla */
        padding: 10px; /* Reducimos el padding general del formulario */
        margin: 20px auto; /* Centramos el formulario en la pantalla */
    }

    h2 {
        font-size: 18px; /* Ajustar el tamaño de la fuente para pantallas pequeñas */
    }

    input, textarea {
        width: 100%; /* Los inputs ocuparán todo el ancho disponible del formulario */
        padding: 12px 15px; /* Ajustamos el padding */
        margin-bottom: 15px; /* Reducimos el espacio entre los campos */
        box-sizing: border-box; /* Garantizamos que el padding y los bordes se incluyan en el ancho total */
        font-size: 14px; /* Reducimos el tamaño de la fuente para mejorar la visualización */
    }

    .btn1 {
        width: 100%; /* El botón ocupará todo el ancho del formulario */
        padding: 12px 0; /* Ajustamos el tamaño del botón */
    }
  
    /* Ajustes para el pie de página */
    .container {
      flex-direction: column;
    }
  
    .footer-content {
      margin-bottom: 20px;
    }
}

/* Pie de página */
footer {
    background: #003333ff;
    padding-top: 5px;
    z-index: 2; /* Asegura que el footer esté por encima del contenido */
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content {
    flex-basis: 33%;
    text-align: center;
}

.h3f {
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
}

.footer-content p {
    font-size: 16px;
    margin: 5px 0;
    color: white;
}

.listFooter1 {
    padding: 0;
    list-style-type: none;
}

.listFooter1 li {
    margin: 5px 0;
}

.listFooter1 li a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.listFooter1 li a:hover {
    color: #9c9286ff;
}

.social-icons {
    text-align: center;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    padding: 5px;
}

.social-icons i {
    color: aliceblue;
    font-size: 20px;
}

.social-icons i:hover {
    color: #9c9286ff;
}

.bottom-bar2 {
    background: #254c57ff;
    text-align: center;
    padding: 10px 0;
}

.bottom-bar2 p {
    color: white;
    margin: 0;
    font-size: 15px;
}

@media (max-width: 992px) {
    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        margin: 10px 0;
    }
}
